*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    row-gap: 100px;
    
    
}

.App h1{
    text-align: center;

}
.lista-container-mobile{
    display: none;
}

@media (max-width:768px){
    .Card-Conteiner{
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
       

       
    }
    .List-container{
        display: none;
    }
    .lista-container-mobile{
        display: block;
        margin-top: 20px;
        margin-left: 200px;
    }

  }

